ALTER TABLE {{.TableName}}
{{- if eq .ReferenceTableName "users"}}
  ADD COLUMN {{.ColumnName}} BIGINT UNSIGNED {{- if .IsNotNull}} NOT NULL {{- end}},
  ADD FOREIGN KEY ({{.ColumnName}}) REFERENCES `baas-system`.users (id) ON DELETE {{.OnDelete }} ON UPDATE {{ .OnUpdate }}
{{- else}}
  ADD COLUMN {{.ColumnName}} {{.ColumnType}} {{- if .IsNotNull}} NOT NULL {{- end}},
  ADD FOREIGN KEY ({{.ColumnName}}) REFERENCES {{.ReferenceTableName}} ({{.ReferenceColumnName}}) ON DELETE {{.OnDelete }} ON UPDATE {{ .OnUpdate }}
{{- end}}
