ALTER TABLE {{.TableName}}
ADD COLUMN {{ .Column.Name }} {{ .Column.Type }}
{{- if .Column.NotNullable }} NOT NULL{{ end }}
{{- if .Column.IsUnique }} UNIQUE{{ end }}
{{- if .Column.IsPrimaryKey }} PRIMARY KEY{{ end }}
