ALTER TABLE {{.TableName}}
ADD COLUMN {{.ColumnName}} {{.ColumnType}} {{- if .IsNotNull}} NOT NULL {{- end}},
ADD FOREIGN KEY ({{.ColumnName}}) REFERENCES {{.ReferenceTableName}} ({{.ReferenceColumnName}}) ON DELETE {{.OnDelete }} ON UPDATE {{ .OnUpdate }}