CREATE TABLE IF NOT EXISTS {{.TableName}} (
    {{- range $index, $element := .Columns }}
        {{- if $index}},{{ end }}
        {{ $element.Name }} {{ $element.Type }}
        {{- if $element.NotNullable }} NOT NULL{{ end }}
        {{- if $element.IsUnique }} UNIQUE{{ end }}
        {{- if $element.IsPrimaryKey }} PRIMARY KEY{{ end }}
    {{- end }}
);
