CREATE TABLE IF NOT EXISTS {{.TableName}} (
    {{- range $index, $element := .Columns }}
        {{- if $index}},{{ end }}
        {{ $element.Name }} {{ $element.Type }}
        {{- if $element.NotNullable }} NOT NULL{{ end }}
        {{- if $element.IsUnique }} UNIQUE{{ end }}
        {{- if $element.IsPrimaryKey }} PRIMARY KEY{{ end }}
        {{- if $element.ForeignKey.ReferenceTable }} REFERENCES {{ $element.ForeignKey.ReferenceTable }}({{ $element.ForeignKey.ReferenceColumn }}){{ end }}
        {{- if and $element.ForeignKey.ReferenceTable  $element.ForeignKey.IsCascade }} ON DELETE CASCADE {{ end }}
    {{- end }}
);
