CREATE TABLE IF NOT EXISTS {{.TableName}} (
  id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    {{- range $index, $element := .Columns }}
        {{- if $index}},{{ end }}
        {{ $element.Name }} {{ $element.Type }}
        {{- if $element.NotNullable }} NOT NULL{{ end }}
        {{- if $element.IsUnique }} UNIQUE{{ end }}
        {{- if $element.DefaultValue }} DEFAULT {{ $element.DefaultValue }}{{ end }}
        {{- if $element.IsPrimaryKey }} PRIMARY KEY{{ end }}
    {{- end }}
    , created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    , updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP

    {{- if gt (len .ForeignKeys) 0 }}
        {{- range $index, $element := .ForeignKeys }}
            , FOREIGN KEY ({{ $element.ColumnName }}) REFERENCES {{ $element.ReferenceTableName }}({{ $element.ReferenceColumnName }}) ON DELETE {{ $element.OnDelete }} ON UPDATE {{ $element.OnUpdate }}
        {{- end }}
    {{- end }}
) {{- if .TableComment }} COMMENT= "{{ .TableComment }}"  {{ end }};

